<?xml version="1.0" encoding="utf-8"?>
<!--
Diese Datei wird vom Veröffentlichungs-/Paketierungsprozess Ihres Webprojekts verwendet. Sie können das Verhalten dieses Prozesses anpassen,
indem Sie diese MSBuild-Datei bearbeiten. Weitere Informationen hierzu finden Sie unter https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/69b4f59c-30f1-49d9-9118-ae541202e50f/resourceGroups/StuRa/providers/Microsoft.Web/sites/StuRaShopBackend</ResourceId>
    <ResourceGroup>StuRa</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://sturashopbackend.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <SCMUrl>https://sturashopbackend.scm.azurewebsites.net/</SCMUrl>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>a022661e-4009-4ef7-950c-a0ef466318fc</ProjectGuid>
    <MSDeployServiceURL>waws-prod-fra-003.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>StuRaShopBackend</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$StuRaShopBackend</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
</Project>